/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.cache
/material
*.p12
*.pfx
*.jks
*.keystore
*.csr
*.p7b
/星辰云巡调试证书.cer
/星辰云巡发布证书.cer
/device-layout.xml
/layout.json
/xcyx-binding-layout.json
/xcyx-blank.json
/xcyx-hds-layout.json
/xcyx-layout.json
/xcyx-layout-6.1.xml
/xcyx-now.json
/xcyx-scrolled-layout.json
/xcyx-hds-spacer.jpeg
